@{
    ViewBag.Title = "Login Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href=~/css/AdminLogin.css />
</head>

<body>
    <div class="container">

        <br />
        <br />
        <br />
        <center>
            <div style="padding-top: 20px">
                <a>
                    <img style="height: 200px"
                         src="/images/PrimeMarket_Logo_V2.png"
                         alt="PrimeMarket Logo" />
                </a>
                <h2>Admin Login</h2>
                <form id="loginForm" method="post" asp-controller="Admin" asp-action="AdminDashboard">
                    <label for="name">Username</label>
                    <input style="
                padding: 8px 16px;
                border: 1px solid #ddd;
                border-radius: 20px;
                width: 250px;
                outline: none;
                transition: border-color 0.3s ease;
              "
                           type="text"
                           id="username"
                           name="username"
                           required
                           placeholder="Enter your username" />
                    <br />
                    <br />

                    <label for="password">Password</label>
                    <input style="
                padding: 8px 16px;
                border: 1px solid #ddd;
                border-radius: 20px;
                width: 250px;
                outline: none;
                transition: border-color 0.3s ease;
              "
                           type="password"
                           id="password"
                           name="password"
                           required
                           placeholder="Enter your password" />
                    <br />
                    <br />
                    <div>
                        <button style="
                  cursor: pointer;
                  padding: 8px 16px;
                  border: 1px solid #ddd;
                  border-radius: 20px;
                "
                                type="submit">
                            Login
                        </button>
                    </div>
                    <br />
                </form>
                </div>
            </div>
        </center>
    </div>
</body>
</html>