@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"href="/css/MyProfitLossReport.css" />
    <title>Seller Dashboard - Profit/Loss</title>
</head>
<body>
    <h2 style = "margin-top:100px;text-align:center">Total Earnings Report</h2>
    <div style = "display:flex;justify-content:center;margin-top:0px" class="dashboard-container">
        <div class="summary-cards">
            <div class="card">
                <div class="card-title">Total Revenue</div>
                <div class="card-value neutral">2000TL</div>
            </div>
                 <div class="card">
                <div class="card-title">Total Items Sold</div>
                <div class="card-value neutral">4</div>
            </div>
        </div>
     </div>
    <script>

    </script>
</body>
</html>
