@{
    Layout = "~/Views/Shared/_LayoutGuest.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrimeMarket - Guest Main Page</title>
    <link rel="stylesheet" href="/css/Index.css" />
</head>
<body>
    <div style="margin-top: 80px;">
        <nav style="box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;"
             class="container">
            <ul id="mainCategories" class="category-menu" style="list-style: none; display: flex; gap: 30px; padding: 10px 0;"></ul>
        </nav>
    </div>
    <main class="listing-content">

        <section class="listings">
            <h2>Listings</h2>
            <div class="items-grid">
                <div class="item-card"></div>
                <div class="item-card"></div>
                <div class="item-card"></div>
                <div class="item-card"></div>
                <div class="item-card"></div>
            </div>
        </section>
    </main>
</body>
</html>